@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
}


/* ----star---- */

.container {
    width: 100%;
}

/* ---header--- */

.header {
    height: 230px;
    background-color: #183153;
    position: relative;
}

.container__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.container__header-top {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    position: relative;
    padding: 2% 5%;
}

.header-bottom__search-bar {
    padding: 0 6%;
    display: flex;
    margin-top: 16px;
}

.header-bottom__search-bar input {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 15%);
    display: none;
}

.header-bottom__search-bar .fa-magnifying-glass {
    position: absolute;
    font-size: 16px;
    padding: 10px 8px;
    display: none;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header__logo span {
    color: yellow;
    font-size: 24px;
    font-weight: 600;
}

.header__nav-bar-menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 15px;
}

.header__nav-item {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

.header__nav-bar ul li:hover a {
    color: yellow;
}

.header__nav-bar .fa-xmark,
.text__copyright,
.header__nav-bar .fa-bars {
    display: none;
}

.header__user {
    cursor: pointer;
}

.header__user .fa-user {
    padding: 6px;
    border-radius: 50%;
    color: white;
}

.header__nav-user {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.header__user:hover .fa-user,
.header__user:hover .header__nav-user {
    color: yellow;
}

/* container__search-bar */

.container__search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
}

.container__search-bar h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 15px 0;
}

.header__search-bar-form {
    width: 70vw;
    display: flex;
    align-items: center;
}

.header__search-bar-form .fa-magnifying-glass {
    position: absolute;
    font-size: 25px;
    padding: 22px;
}

.header__search-bar-form input {
    height: 65px;
    padding-left: 70px;
    border-radius: 10px;
    border: none;
    font-weight: 300;
    font-size: 22px;
    width: 100%;
    box-shadow: 0 10px 15px rgb(0 0 0 / 15%);
}

.header__search-bar-form .fa-arrow-right {
    padding: 22px;
    background-color: yellow;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 15%);
    border: none;
    margin-left:  20px;
}




@media (max-width: 940px) {
    .header__nav-user {
        display: none;
    }

    .header__user .fa-user {
        font-size: 22px;
    }
}

@media (max-width: 810px) {
    .header__nav-bar .fa-bars {
        display: block;
        font-size: 22px;
        padding: 5px 8px 0 5px;
        color: white;
        order: 1;
    }

    .header__logo {
        order: 2;
    }

    .header__user {
        order: 3;
    }

    .header__nav-bar-menu {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        background-color: #183153;
        transition: .5s;
    }
    
    .header__nav-bar-menu ul {
        padding-left: 20px;
        padding-top: 60px;
    }

    .header__nav-bar-menu ul li {
        display: block;
        text-align: left;
        margin: 20px 0;
        max-width: max-content;
    }

    .header__nav-item {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
    }

    .header__nav-bar .fa-xmark {
        display: block;
        font-size: 26px;
        position: absolute;
        color: black;
        padding: 8px;
        top: 6px;
        right: 12px;
    }

    .text__copyright {
        display: block;
        font-size: 10px;
        position: absolute;
        left: 4px;
        bottom: 4px;
    }

    .container__search-bar {
        display: none;
    }

    .header {
        height: 120px;
    }
    .header-bottom__search-bar input,
    .header-bottom__search-bar .fa-magnifying-glass {
        display: block;
    }
}






















